@model TextField
@{ ViewBag.Title = Model.MetaTitle;
                ViewBag.Description = Model.MetaDescription;
                ViewBag.Keywords = Model.MetaKeywords; }

@*@{ 
    var text = SharedResource["Txt"].Value;
}*@


<div>
    <h1>
        @ViewBag.Text
    </h1>
    <h1>
        @SharedResource["Home"]
    </h1>

    <h2>
        @SharedResource["Txt"].Value
    </h2>
</div>