<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <section>
                    <div>
                        <div class="row">
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Sed neque nisi consequat</a></li>
                                    <li><a href="#">Dapibus sed mattis blandit</a></li>
                                    <li><a href="#">Quis accumsan lorem</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Quis accumsan lorem</a></li>
                                    <li><a href="#">Sed neque nisi consequat</a></li>
                                    <li><a href="#">Eget et amet consequat</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li><a href="#">Sed neque nisi consequat</a></li>
                                    <li><a href="#">Dapibus sed mattis blandit</a></li>
                                    <li><a href="#">Quis accumsan lorem</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-3 col-12-medium">
                <div>
                    @{ 
                        var viewContext = Html.ViewContext;
                        var httpContext = viewContext.HttpContext;
                    }
                    <label for="language-select">@SharedResource["Language"]:</label>
                    <a asp-controller="Language" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl=@httpContext.Request.Path>
                        <img src="~/images/gb.svg" alt="" title="" border="0" width="16" height="16"/>
                    </a>
                    <a asp-controller="Language" asp-action="SetLanguage" asp-route-culture="ka-GE" asp-route-returnUrl=@httpContext.Request.Path>
                        <img src="~/images/ge.svg" alt="" title="" border="0" width="18" height="18"/>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    &copy; @SharedResource["CompName"]. All rights reserved. | Georgia:      <a href="http://html5up.net">@SharedResource["CompName"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

